<template>
    <div class="container pt-4 pb-4">
        <div class="container content pt-5 pb-5">
            <h1 class="pb-4">
                Data Pegawai
            </h1>
            <div class="row">
                <b-col lg="6">
                    <b-form-group
                        label="Per page"
                        label-cols-sm="6"
                        label-cols-md="4"
                        label-cols-lg="2"
                        label-align-sm="left"
                        label-size="sm"
                        label-for="perPageSelect"
                        class="mb-0"
                        >
                        <b-form-select
                            v-model="perPage"
                            id="perPageSelect"
                            size="sm"
                            :options="pageOptions"
                        ></b-form-select>
                    </b-form-group>
                </b-col>
                <b-col lg="6" class="my-1 mb-3">
                    <b-form-group
                    label="Find"
                    label-cols-sm="3"
                    label-align-sm="right"
                    label-size="sm"
                    label-for="filterInput"
                    class="mb-0"
                    >
                        <b-input-group size="sm">
                            <b-form-input
                            v-model="filter"
                            type="search"
                            id="filterInput"
                            placeholder="Type to Search"
                            ></b-form-input>
                            <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-col>
                <div class="col-md-12">
                    <b-table id="table" responsive filter-debounce="500" striped :current-page="currentPage" :per-page="perPage" hover :items="items" :fields="fields" show-empty :filter="filter" @filtered="onFiltered" head-variant="dark">
                        <template v-slot:cell(employee_salary)="data">
                            Rp. {{ formatPrice(data.item.employee_salary) }} 
                        </template> 
                        <template v-slot:cell(actions)="data">
                            <btn-detail class="ml-1 mb-1" :urlName="urlToDetailPage" :data="data"/>
                            <btn-delete class="ml-1 mb-1" :id="data.item.id" @hapus="hapus(data.item.id)"/>
                        </template>
                    </b-table>   
                </div>
                <div class="col-md-12">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0"
                        ></b-pagination>
                </div>
                <div class="col-md-12 pt-3">
                    <b-button v-b-modal.modal-1 id="btn-modal" size="sm">Lihat Ringkasan</b-button>

                    <b-modal id="modal-1" title="Ringkasan" hide-footer>
                        <p>
                            Gaji terendah: Rp. {{ formatPrice(dataSummary.min) }}
                        </p>
                        <p>
                            Gaji tertinggi: Rp. {{ formatPrice(dataSummary.max) }}
                        </p>
                        <p>
                            Total gaji: Rp. {{ formatPrice(dataSummary.sum) }}
                        </p>
                        <p>
                            Rata-rata gaji: Rp. {{ formatPrice(dataSummary.avg) }}
                        </p>
                    </b-modal>
                </div>
                <div class="col-md-12 pt-3">
                    <b-button size="sm" class="btn-danger" v-on:click="reset">Reset</b-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
import ButtonDetail from '@/components/ButtonDetail'
import ButtonDelete from '@/components/ButtonDelete'

export default {
    name: "AppDataTable",
    components: {
        'btn-detail': ButtonDetail,
        'btn-delete': ButtonDelete
    },
    mounted() {
        this.loadPostsData()
    },
    data() {
        return {fields: [
                {key: 'id', label: "ID", sortable: true},
                {key: 'employee_name', label: "Nama", sortable: true},
                {key: 'employee_salary', label: "Gaji", sortable: true},
                {key: 'employee_age', label: "Usia", sortable: true},
                {key: 'actions', label: 'Actions' }
            ],
            items: [],
            filter: null,
            currentPage: 1,
            perPage: 10,
            pageOptions: [5, 10, 30],
            totalRows: 1,
            urlToDetailPage: "detail-employee"
        }
    },
    computed: {
        dataSummary() {
            var result = {
                'max': 0,
                'min': 0,
                'sum': 0,
                'avg': 0
            }
            result.max = Math.max.apply(Math, this.items.map(function(o) { return o.employee_salary; }))
            result.min = Math.min.apply(Math, this.items.map(function(o) { return o.employee_salary; }))
            result.sum = this.getSum(this.items, 'employee_salary')
            result.avg = result.sum / this.items.length
            return result
        }
    },
    methods: {
        loadPostsData() {
            if (localStorage.getItem('employeeData')) {
                this.items = JSON.parse(localStorage.getItem('employeeData'))
            } else {
                axios.get('http://dummy.restapiexample.com/api/v1/employees')
                .then((response) => {
                    this.items = response.data.data
                    localStorage.setItem('employeeData', JSON.stringify(response.data.data))
                })
            }
            this.totalRows = this.items.length
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        },
        hapus(id) {
            this.items = this.items.filter(employee => {
                return employee.id != id
            });
            localStorage.setItem('employeeData', JSON.stringify(this.items))
            this.totalRows = this.items.length
        },
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        reset() {
            axios.get('http://dummy.restapiexample.com/api/v1/employees')
            .then((response) => {
                this.items = response.data.data
                localStorage.setItem('employeeData', JSON.stringify(response.data.data))
                this.totalRows = this.items.length
                location.reload()
            })
        },
        getSum(arr, prop) {
            var total = 0
            for ( var i = 0, _len = arr.length; i < _len; i++ ) {
                total += arr[i][prop]
            }
            return total
        }
    }
}
</script>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600 !important;
    }
    .page-link {
        color: #323F75 !important;
    }

    .table .thead-dark th, .page-item.active .page-link, #btn-modal {
        background-color: #323F75 !important;
        color: white !important;
        border-color: #323F75 !important;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #FAFAFC;
    }

    .table-striped tbody tr:nth-of-type(even):hover {
        background-color: #FAFAFC;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: white !important;
    }

    .table-striped tbody tr:nth-of-type(odd):hover {
        background-color: #FAFAFC !important;
    }

    .content {
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 0 50px 0 50px !important;
    }

</style>