<template>
    <b-button class="btn-detail" size="sm" :to="{ name: urlName, params: { id: data.item.id, employee: data.item } }">
        Detail
    </b-button>
</template>

<script>

export default {
    name: 'ButtonDetail',
    data() {
        return {
        }
    },
    props: {
        urlName: {
            type: String,
            default: '',
            required: true
        },
        data : {
            type: Object,
            default: null,
            required: true
        }
    }
}
</script>

<style lang="scss" scoped>
    .btn-detail {
        background-color: #323F75 !important;
        color: white !important;
        border-color: #323F75 !important;
    }
</style>