<template>
    <div class="container pt-4 pb-4">
        <div class="container content pt-5 pb-5 centered">
            <div class="foto pt-2 pb-4">
                <b-img src="https://64.media.tumblr.com/626929c4fac13bcf4a219fbffc5ab8b3/3e4376827612f75c-0d/s640x960/24d1a60a377b9ab1f2d5ec59176c2a6057f9fd9f.jpg" center rounded="circle" height="200" width="200"></b-img>
            </div>
            <div class="nama text-white">
                <h1>
                    {{ employee.employee_name }}
                </h1>
                <h5>
                    {{ employee.employee_age }} tahun
                </h5>
                <h5>
                    Gaji : Rp. {{ formatPrice(employee.employee_salary) }}
                </h5>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "DataDetail",
    data() {
        return {
        }
    },
    props: {
        employee : {
            type: Object,
            default: null,
            required: true
        }
    },
    methods: {
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', ',')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        }
    }
}
</script>

<style lang="scss" scoped>
    .content {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        background-color: #323F75;
        border-radius: 10px;
    }

    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

    .foto img {
        background-color: white;
    }

    h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600 !important;
    }
</style>