<template>
    <div class="container centered">
        <b-form @submit="onSubmit">

        <b-form-group id="input-group-2" label="Nama Anda" label-for="input-2">
            <b-form-input
            id="input-1"
            v-model="name"
            required
            placeholder="Masukkan nama Anda"
            ></b-form-input>
        </b-form-group>

        <b-button type="submit" class="btn-login">Login</b-button>
    </b-form>
    </div>
</template>

<script>

export default {
    name: 'LoginPage',
    data() {
        return {
            name: ''
        }
    },
    methods: {
        onSubmit() {
            localStorage.setItem('loggedIn', true)
            localStorage.setItem('name', this.name)
            this.$router.push({ name: 'list-employee' });
            location.reload();
        }
    }
}
</script>

<style lang="scss" scoped>
    .centered {
        width: 20% !important;
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

    label {
        font-weight: 600;
    }

    .btn-login {
        background-color: #323F75 !important;
    }
</style>