<template>
    <div>
        <b-navbar toggleable="lg">
            <b-navbar-brand href="#">
                <img src="../assets/logo.png" width="30" height="30">
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item href="#">Data Pegawai</b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto" v-if="loggedIn">
                <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template v-slot:button-content>
                    <em class="mr-2">{{ name }}</em>
                </template>
                <b-dropdown-item href="#" v-on:click="logout">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>

export default {
    name: 'Navbar',
    data() {
        return {
            name: this.getName()
        }
    },
    computed: {
        loggedIn() {
            return localStorage.getItem('loggedIn')
        }
    },
    methods: {
        getName() {
            return localStorage.getItem('name')
        },
        logout() {
            localStorage.removeItem('loggedIn')
            localStorage.removeItem('name')
            window.location.assign("/login")
        }
    }
}
</script>

<style lang="scss">
    nav {
        background-color: #323F75 !important;
    }

    .navbar-light .navbar-nav .nav-link {
        color: white !important;
    }
</style>