<template>
  <div id="app">
      <navbar/>
      <router-view/>
  </div>
</template>

<script>

import Navbar from '@/components/Navbar'

export default {
    data() {
        return {}
    },
    components: {
        'navbar': Navbar
    }
}
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: black;
        background-color: #FAFAFC;
        min-height: 100vh;
    }
</style>
